.notification-button {
    position: relative;
    background: none;
    border: none;
    // font-size: 24px;
    cursor: pointer;
    color: #eed1b5;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  
  .notification-button.new .notification-badge {
    display: block;
  }
  