<app-header></app-header>
<div class="container d-flex justify-content-center align-items-center vh-100" style="color: #171a4a">
  <div class="row justify-content-center align-items-center w-100">
    <div class="col-md-12">
      <div class="card mt-5 h-auto w-100" style="background-color: #eed1b5; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Lista de Chamados</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #171a4a; color: #ffffff;">
                {{ selectedStatus || 'Filtrar por Status' }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="filterChamados('')">Todos</a></li>
                <li><a class="dropdown-item" (click)="filterChamados('aberto')">Aberto</a></li>
                <li><a class="dropdown-item" (click)="filterChamados('processo')">Em Processo</a></li>
                <li><a class="dropdown-item" (click)="filterChamados('fechado')">Fechado</a></li>
              </ul>
            </div>
          </div>

          <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="table-responsive" *ngIf="!loading">
            <table id="example" class="table table-striped table-hover mt-3" style="background-color: #ffffff">
              <thead class="table-dark">
                <tr>
                  <th style="background-color: #000020; color: #ffffff">Título</th>
                  <th style="background-color: #000020; color: #ffffff">Status</th>
                  <th style="background-color: #000020; color: #ffffff">Descrição</th>
                  <th style="background-color: #000020; color: #ffffff">Prioridade</th>
                  <th *ngIf="userRole === 'tecnico'" style="background-color: #000020; color: #ffffff">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let chamado of filteredChamados">
                  <td><a [routerLink]="['/detalhe-chamado', chamado._id]">{{ chamado.titulo }}</a></td>
                  <td>{{ chamado.status }}</td>
                  <td>{{ chamado.descricao }}</td>
                  <td>{{ chamado.prioridade }}</td>
                  <td *ngIf="userRole === 'tecnico'">
                    <button (click)="abrirModal(chamado)" class="btn btn-primary">Atualizar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Modal para atualização do chamado -->
          <div *ngIf="selectedChamado" class="modal">
            <div class="modal-content">
              <h3>Atualizar Chamado: {{ selectedChamado.titulo }}</h3>
              
              <label for="status">Status:</label>
              <select id="status" [(ngModel)]="selectedChamado.status">
                <option value="aberto">Aberto</option>
                <option value="processo">Em Processo</option>
                <option value="fechado">Fechado</option>
              </select>

              <label for="comentario">Comentário:</label>
              <textarea id="comentario" [(ngModel)]="novoComentario"></textarea>

              <div class="button-group">
                <button (click)="atualizarChamado()">Salvar</button>
                <button (click)="closeModal()">Cancelar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>